.head {
  position: relative;
  border-bottom: solid 1px black; }
  .head .buttons {
    right: 0;
    bottom: 10px;
    position: absolute; }
    .head .buttons .add, .head .buttons .save {
      font-weight: 700; }

.list {
  margin: 20px 0; }
  .list .box {
    border: solid 1px;
    height: 170px;
    margin: 10px 0; }
    .list .box .checkbox {
      margin: 5px 0 -10px 8px; }
    .list .box ul {
      text-align: center;
      line-height: 30px;
      list-style-type: none;
      padding: 0; }

.fields {
  margin: 20px 0; }

.redstar {
  color: red; }

/*# sourceMappingURL=main.css.map */
